.download-page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 5%;
}
.back-button-simple {
    color: #ccc;
    text-decoration: none;
    font-weight: 500;
}
.back-button-simple:hover {
    color: #fff;
}
.download-hub-content {
    background-color: #181818;
    padding: 25px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#download-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #e5e5e5;
    margin: 0 0 10px 0;
    text-align: center;
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
}
.download-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.download-hub-content select {
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
    border-radius: 5px;
    font-size: 1rem;
}
.hub-download-btn {
    width: 100%;
    padding: 12px;
    background-color: var(--primary-color);
    color: var(--light-color);
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    border-radius: 25px;
    transition: background-color 0.2s;
}
.hub-download-btn:hover {
    background-color: #f61a27;
}
.hub-download-btn.disabled {
    background-color: #555;
    pointer-events: none;
    opacity: 0.6;
}
